<div class="home__combo-package">
  <div class="home__combo-package__container">
    <%= image_tag 'marketing/home/combo-package.png' %>

    <h2 class="home__combo-package__heading"> 
      Bring Mail & Assistant together
    </h2>
    <h3 class="home__combo-package__subheading"> 
      Hand over tasks from your Mail to our Assistant. Pay your bills with 1-click. Translate everything. Get personal and business tasks taken care of.
    </h3>

    <!--
    <%= link_to marketing_request_consultation_path, class: "marketing-btn marketing-btn--outline--light marketing-btn--medium marketing-btn--icon--right", style: "margin: 30px 0px 40px" do %>
      Get X% off a combined package
      <%= inline_svg_tag('marketing/common/buttons/icon-arrow.svg') %>
    <% end %>
    -->
  </div>
</div>
