<div class="home__cta__container">

  <div class="home__cta__col" style="padding-right: 40px;">
    <h4>Still have questions?</h4>
    <p>Get in touch with us and we can set up a consultation to discuss your needs.</p>
  </div>

  <div class="home__cta__actions">
    <%= link_to 'Book a Consultation', marketing_request_consultation_path, class: "home__cta__button home__cta__button--white" %>
  </div>
</div>