<div class="home__hero">
  <div class="home__hero__container">
    <div class="home__hero__left">
      <h1 class="home__hero__title">Making it easier to work, live, and do business in Japan.</h1>
      <p class="home__hero__subtitle">MailMate offers digital mail services and competent bilingual assistants immediately available in Japan.</p>

      <!-- 
      <div class="home__hero__actions">
        <%= link_to 'Get Started', marketing_pricing_path, class: "btn btn-primary btn-lg" %>
        <%= link_to 'Request a Consultation', marketing_request_consultation_path, class: "btn btn-secondary btn-lg" %>
      </div>
      -->
    </div>

    <div class="home__hero__right">
      <%= image_tag 'marketing/home/hero.png' %>
    </div>

  </div>
</div>
