<div class="home__container">
  <div class="home__testimonials">
    <h4 class="home__testimonials__subheading">Happy Customers</h4>
    <h3 class="home__testimonials__heading">Don’t just take our word for it...</h3>

    <div class="home__testimonials__units">
      <div class="home__testimonials__units__unit">
        <div class="home__testimonials__units__unit__icon">
          <%= inline_svg_tag('marketing/home/quotation-mark.svg') %>
        </div>

        <p class="home__testimonials__units__unit__quote">
          It is unusual to find a bilingual secretary with a background and experience in clinic work.
          <br /><br />
          The assistant is very proactive and eager to take on tasks quickly. I highly recommend this service!
        </p>

        <p class="home__testimonials__units__unit__author">
          CEO, Pharmaceutical Industry
        </p>
      </div>

      <div class="home__testimonials__units__unit">
        <div class="home__testimonials__units__unit__icon">
          <%= inline_svg_tag('marketing/home/quotation-mark.svg') %>
        </div>

        <p class="home__testimonials__units__unit__quote">
          Your service exceeded our expectations for a virtual assistant in every way. The fact that she is ‘virtual’ had zero impact on her ability to provide timely, creative, and effective support. Overall, the experience has been fantastic and it’s great to know we have such a capable, professional, and personable assistant standing by to support us as we grow our business here in Japan.
        </p>

        <p class="home__testimonials__units__unit__author">
          CEO, Staffing & Recruitment Agency
        </p>
      </div>
    </div>
  </div>
</div>
