<div class="pricing__container">
  <div class="pricing__cta">
    <div class="pricing__cta__left">
      <h5>Get 20% off a combined Assistant & Mail package</h5>
      <p>If you'd like to combine our packages, we'll set you up with a discounted price.</p>
    </div>
    <div class="pricing__cta__right">
      <%= link_to 'Book a Consultation', marketing_request_consultation_path, class: "pricing__cta__button marketing-btn marketing-btn--primary marketing-btn--block" %>
    </div>
  </div>
</div>
