<nav class="bg-white shadow relative">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-12">
      <!-- Left -->
      <div class="flex items-center">
        <div class="flex-shrink-0 text-1xl">
          <%= image_tag 'bebop/logo.png', style: 'height: 22px' %>
        </div>
        <div class="block">
          <div class="ml-10 flex items-baseline space-x-2">
            <!-- Active State -->
            <!-- <a href="/boxm293/bebop" class="bg-gray-100 text-gray-900 px-3 py-1.5 rounded-md text-xs font-medium">Tools</a> -->

            <a href="/boxm293/bebop" class="text-gray-900 hover:bg-gray-100 hover:text-black px-3 py-1.5 rounded-md text-xs font-medium">Home</a> 
            <a href="/boxm293/admin" class="text-gray-900 hover:bg-gray-100 hover:text-black px-3 py-1.5 rounded-md text-xs font-medium">Admin</a>
          </div>
        </div>
      </div>

      <!-- Right -->
      <div class="flex items-center">
        <div class="ml-10 flex items-baseline space-x-2">
          <%= link_to('Logout', destroy_admin_user_session_path, method: :delete, class: 'text-gray-900 hover:bg-gray-100 hover:text-black px-3 py-1.5 rounded-md text-xs font-medium') %>   
        </div>
      </div>
    </div>
  </div>
</nav>