.upsell {
  padding: 32px 24px;
  background-color: $color__teal-200;
  &__actions {
    display: flex;
    @include mobile {
      flex-direction: column;
      .btn {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
    .btn {
      margin-right: 10px;
    }
  }
}
