<div class="index-frame10">
          <span class="index-text210"><span>プラン詳細比較</span></span>
          <div class="index-frame226">
            <div class="index-frame227">
              <div class="index-frame321">
                <span class="index-text212"><span>機能一覧:</span></span>
              </div>
              <span class="index-text214">
                <span>
                  <span>郵便物の転送先住所</span>
                  <br />
                  <span>郵便物の廃棄依頼</span>
                  <br />
                  <span>郵便物の到着通知メール</span>
                  <br />
                  <span>無開封スキャン(封筒のみをスキャン)</span>
                  <br />
                  <span>郵便物の転送 *</span>
                  <br />
                  <span>開封スキャン件数**</span>
                  <br />
                  <span>支払い代行 ***</span>
                  <br />
                  <span>法人登記に MailMate住所を利用</span>
                  <br />
                  <span>ユーザー上限</span>
                </span>
              </span>
            </div>
            <div class="index-frame228">
              <div class="index-frame322">
                <div class="index-frame324">
                  <span class="index-text233"><span>スタンダード</span></span>
                </div>
                <div class="index-frame409">
                  <span class="index-text289">
                    <span class="index-text290">
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span></span>
                    </span>
                    <span class="index-text248">
                      <span>5件/月</span>
                      <br />
                      <span></span>
                    </span>
                    <span class="index-text306">
                      <span>✓</span>
                      <br />
                      <span></span>
                    </span>
                    <span class="index-text256">
                      <span>✗</span>
                      <br />
                      <span></span>
                    </span>
                    <span>1人</span>
                  </span>
                </div>
              </div>
              <div class="index-frame407">
                <div class="index-frame324">
                  <span class="index-text261"><span>プレミアム</span></span>
                </div>
                <div class="index-frame408">
                  <span class="index-text263">
                    <span class="index-text264">
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span></span>
                    </span>
                    <span class="index-text276">
                      <span>25件/月</span>
                      <br />
                      <span></span>
                    </span>
                    <span class="index-text280">
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span></span>
                    </span>
                    <span>3人</span>
                  </span>
                </div>
              </div>
              <div class="index-frame55">
                <div class="index-frame323">
                  <span class="index-text287"><span>ビジネス</span></span>
                </div>
                <div class="index-frame406">
                  <span class="index-text235">
                    <span class="index-text236">
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span></span>
                    </span>
                    <span class="index-text302">
                      <span>60件/月</span>
                      <br />
                      <span></span>
                    </span>
                    <span class="index-text252">
                      <span>✓</span>
                      <br />
                      <span>✓</span>
                      <br />
                      <span></span>
                    </span>
                    <span>無制限</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <span class="index-text313">
            <span>
              <span>* 郵便物の転送:一律500円+転送実費の3%の料金が発生</span>
              <br />
              <span>
                ** 開封スキャン:1件あたり180円で追加の開封スキャンを依頼可能
              </span>
              <br />
              <span>
                ***
                支払い代行:支払額が5万円未満の場合は500円+支払額の3%、5万円以上は一律で支払額の4%の料金が発生
              </span>
            </span>
          </span>
        </div>