<div class="page__mail__hero">
  <div class="page__mail__hero__container">
    <div class="page__mail__hero__left">
    <div class="index-frame207">
    <div class="index-frame301">
      <span class="index-text008">
        <span>
          <span>価値のある「時間」を創り、</span>
          <br />
          <span>すべての人に柔軟な働き方を。</span>
        </span>
      </span>
      <span class="index-text013">
        <span>
          郵便物をデジタル化、クラウドで一括管理 <br>
          いつどこにいても郵便物を確認できるツールです。
        </span>
      </span>
    </div>
    <div class="index-frame208">
      <%= link_to 'サインアップ', "#plans", class: "index-frame209 marketing-btn marketing-btn--secondary index-text015" %>
      <%= link_to 'お問合わせ', marketing_request_consultation_path, class: "index-frame302 marketing-btn marketing-btn--grey index-text017" %>
    </div>
  </div>

    </div>

    <div class="page__mail__hero__right">
      <%= image_tag 'marketing/pages/mail/jp_hero.png' %>
    </div>

  </div>
</div>
