<div class="index-frame9">
          <span class="index-text094" id="plans"><span>料金プラン</span></span>
          <div class="index-frame54">
            <div class="index-frame219">
              <div class="index-frame314">
                <span class="index-text096"><span>スタンダード</span></span>
              </div>
              <div class="index-frame220">
                <span class="index-text175"><span>個人向け</span></span>
                <span class="index-text100">
                  <span>フリーランサー、副業、海外駐在員</span>
                </span>
              </div>
              <div class="index-frame221">
                <span class="index-text102"><span>プラン内容</span></span>
                <span class="index-text181">
                  <span class="index-text182">✓</span>
                  <span class="index-text106">
                    <span>郵便物の転送先住所</span>
                    <br />
                    <span></span>
                  </span>
                  <span class="index-text182">✓</span>
                  <span class="index-text111">
                    <span>郵便物の到着通知メール</span>
                    <br />
                    <span></span>
                  </span>
                  <span class="index-text182">✓</span>
                  <span class="index-text116">
                    <span>無開封スキャン</span>
                    <br />
                    <span></span>
                  </span>
                  <span class="index-text182">✓</span>
                  <span>
                    <span>月5件まで開封スキャン</span>
                    <br />
                    <span></span>
                  </span>
                </span>
              </div>
              <span class="index-text125">
                <span class="index-text126">¥</span>
                <span class="index-text206">1,500</span>
                <span>/月</span>
              </span>
              <%= button_to '申し込む', new_register_url, method: :post, params: {subscriptionName: 'mail_ja_standard',subscriptionType: 'mail'}, class: "index-frame318 index-text171" %>
            </div>
            <div class="index-frame316">
              <div class="index-frame317">
                <span class="index-text131"><span>プレミアム</span></span>
              </div>
              <div class="index-frame222">
                <span class="index-text133"><span>小規模事業者向け</span></span>
                <span class="index-text135">
                  <span>個人事業主、小規模チーム</span>
                </span>
              </div>
              <div class="index-frame223">
                <span class="index-text137"><span>プラン内容</span></span>
                <span class="index-text139">
                  <span class="index-text140">✓</span>
                  <span class="index-text141"></span>
                  <span class="index-text142">
                    <span>法人登記用に住所利用可</span>
                    <br />
                    <span></span>
                  </span>
                  <span class="index-text146">✓</span>
                  <span class="index-text147"></span>
                  <span class="index-text148">
                    <span>郵便物の転送先住所</span>
                    <br />
                    <span></span>
                  </span>
                  <span class="index-text152">✓</span>
                  <span class="index-text153"></span>
                  <span class="index-text154">
                    <span>郵便物の到着通知メール</span>
                    <br />
                    <span></span>
                  </span>
                  <span class="index-text158">✓</span>
                  <span class="index-text159"></span>
                  <span class="index-text160">
                    <span>無開封スキャン</span>
                    <br />
                    <span></span>
                  </span>
                  <span class="index-text164">✓</span>
                  <span class="index-text165"></span>
                  <span>月25件まで開封スキャン</span>
                </span>
              </div>
              <span class="index-text167">
                <span class="index-text168">¥</span>
                <span class="index-text169">3,800</span>
                <span>/月</span>
              </span>
              <%= button_to '申し込む', new_register_url, method: :post, params: {subscriptionName: 'mail_ja_premium',subscriptionType: 'mail'}, class: "index-frame318 index-text171" %>
            </div>
            <div class="index-frame405">
              <div class="index-frame319">
                <span class="index-text173"><span>ビジネス</span></span>
              </div>
              <div class="index-frame224">
                <span class="index-text098"><span>中小企業向け</span></span>
                <span class="index-text177">
                  <span>
                    毎月数十件以上の郵便物を受け取 る中堅中小企業向け。
                  </span>
                </span>
              </div>
              <div class="index-frame225">
                <span class="index-text179"><span>プラン内容</span></span>
                <span class="index-text104">
                  <span class="index-text105">✓</span>
                  <span class="index-text183">
                    <span>法人登記用に住所利用可</span>
                    <br />
                    <span></span>
                  </span>
                  <span class="index-text105">✓</span>
                  <span class="index-text188">
                    <span>郵便物の転送先住所</span>
                    <br />
                    <span></span>
                  </span>
                  <span class="index-text105">✓</span>
                  <span class="index-text193">
                    <span>郵便物の到着通知メール</span>
                    <br />
                    <span></span>
                  </span>
                  <span class="index-text105">✓</span>
                  <span class="index-text198">
                    <span>無開封スキャン</span>
                    <br />
                    <span></span>
                  </span>
                  <span class="index-text105">✓</span>
                  <span>月60件まで開封スキャン</span>
                </span>
              </div>
              <span class="index-text204">
                <span class="index-text205">¥</span>
                <span class="index-text127">9,800</span>
                <span>/月</span>
              </span>
              <%= button_to '申し込む', new_register_url, method: :post, params: {subscriptionName: 'mail_ja_business',subscriptionType: 'mail'}, class: "index-frame315 marketing-btn marketing-btn--secondary index-text208" %>
            </div>
          </div>
        </div>
        </div>