<div class="page__assistant__combo">
  <div class="page__assistant__combo__container">
    <div class="page__assistant__combo__col">
      <h3 class="page__assistant__combo__title">Bring Mail & Assistant together</h3>
      <p class="page__assistant__combo__detail">Hand over tasks from your Mail to our Assistant. Pay your bills with 1-click. Translate everything. Get personal and business tasks taken care of.</p>

      <!--
      <div class="page__assistant__combo__actions">
        <%= link_to marketing_request_consultation_path, class: "marketing-btn marketing-btn--outline--dark marketing-btn--medium marketing-btn--icon--right", style: "margin: 30px 0px 40px" do %>
          Get X% off a combined package
          <%= inline_svg_tag('marketing/common/buttons/icon-arrow.svg') %>
        <% end %>
      </div>
      -->
    </div>

    <div class="page__assistant__combo__col">
      <%= image_tag 'marketing/pages/assistant/combo.png' %>
    </div>
  </div>
</div>
