<div class="page__assistant__ready">
  <h3>Ready to get started?</h3>
  <p>We offer a 30-day money-back guarantee.</p>

  <%= link_to 'Request Consultation', marketing_request_consultation_path, class: "marketing-btn marketing-btn--medium marketing-btn--primary" %>
</div>