<div class="page__assistant__steps__container">

  <div class="page__assistant__steps__unit">
    <div class="page__assistant__steps__unit__col">
      <%= image_tag 'marketing/pages/assistant/step-time.png', style: 'max-width: 170px' %>
    </div>

    <div class="page__assistant__steps__unit__col">
      <p class="page__assistant__steps__unit__title">Your time is valuable.</p>
      <p class="page__assistant__steps__unit__subtitle">You know the best person to get your tasks done is YOU. However, your time is limited. Identifying the tasks that you can outsource can dramatically improve your productivity.</p>
    </div>
  </div>

  <div class="page__assistant__steps__path page__assistant__steps--hide-mobile" style="margin: -10px 0px -20px">
    <%= inline_svg_tag('marketing/pages/assistant/step-path-1.svg') %>
  </div>

  <div class="page__assistant__steps__unit page__assistant__steps__unit--end">
    <div class="page__assistant__steps__unit__col">
      <%= image_tag 'marketing/pages/assistant/step-help.png', style: 'max-width: 159px' %>
    </div>

    <div class="page__assistant__steps__unit__col">
      <p class="page__assistant__steps__unit__title">We help you get it back.</p>
      <p class="page__assistant__steps__unit__subtitle">Our competent bilingual assistants will take care of your tasks quickly and efficiently. It’s your own bilingual personal assistant, at a fraction of the price.</p>
    </div>
  </div>

  <div class="page__assistant__steps__path page__assistant__steps--hide-mobile" style="margin: -10px 0px">
    <%= inline_svg_tag('marketing/pages/assistant/step-path-2.svg') %>
  </div>

  <div class="page__assistant__steps__unit page__assistant__steps__unit--centered">
    <div class="page__assistant__steps__unit__col page__assistant__steps__unit__col--centered page__assistant__steps__unit__col--mobile-left">
      <p class="page__assistant__steps__unit__heading page__assistant__steps--hide-mobile">Tasks</p>
      <p class="page__assistant__steps__unit__title">What can your assistant do?</p>
      <p class="page__assistant__steps__unit__subtitle page__assistant__steps__unit__subtitle--grey">Our competent bilingual assistants will take care of a variety of tasks, quickly and efficiently.</p>
    </div>
  </div>
</div>