<div class="page__assistant__container">
  <div class="page__assistant__testimonials">
    <h4 class="page__assistant__testimonials__subheading">Happy Customers</h4>
    <h3 class="page__assistant__testimonials__heading">Don’t just take our word for it...</h3>
    <div class="page__assistant__testimonials__units">
      <div class="page__assistant__testimonials__units__unit">
        <div class="page__assistant__testimonials__units__unit__icon">
          <%= inline_svg_tag('marketing/assistant/mail/quotation-mark.svg') %>
        </div>

        <p class="page__assistant__testimonials__units__unit__quote">
          <b>MailMate doesn't sell virtual assistants - MailMate sells peace of mind</b>. TM lets me focus on the key tasks that move my business forward, and avoid the ones that don't. It means more time to think, more time to create, and more time for my family. Would highly recommend.
        </p>

        <p class="page__assistant__testimonials__units__unit__author">
           Daniel Maggs, Co-founder & CEO of Bisu
        </p>
      </div>

      <div class="page__assistant__testimonials__units__unit">
        <div class="page__assistant__testimonials__units__unit__icon">
          <%= inline_svg_tag('marketing/assistant/quotation-mark.svg') %>
        </div>

        <p class="page__assistant__testimonials__units__unit__quote">
          Your service exceeded our expectations for a virtual assistant in every way. The fact that she is ‘virtual’ had zero impact on her ability to provide timely, creative, and effective support. Overall, the experience has been fantastic and it’s great to know we have such a capable, professional, and personable assistant standing by to support us as we grow our business here in Japan.
        </p>

        <p class="page__assistant__testimonials__units__unit__author">
          CEO, Staffing & Recruitment Agency
        </p>
      </div>
    </div>
  </div>
</div>
