<%
  content_for(:meta_title) { t('marketing.shared.meta_title.terms') }
  content_for(:meta_description) { t('marketing.shared.meta_description.terms') }
%>
<div class="page page--narrow">
  <div class="page__container">
    <div class="page__header">
      <h1 class="page__title">MailMate Terms of Service</h1>
    </div>

    <div class="page__card-container">   
      <b>Last modified: August 27, 2021</b>
      <br />
      <br />
      <h3>Your Acknowledgment and Acceptance of Terms</h3>
      <p>
        MailMate ("Us" or "We") provides the www.mailmate.jp site and various virtual assistance and other services (collectively, the "Services") to you subject to your compliance with all the terms, conditions, and notices contained or referenced herein (these "terms of service"), as well as any other written agreement between us and you. In addition, when using particular Services, you shall be subject to any posted rules applicable to such Services that may contain terms and conditions in addition to those in these terms of service. All such guidelines or rules are hereby incorporated by reference into these terms of service.<br /><br />
        BY USING THE SERVICES, YOU AGREE TO BE BOUND BY THESE TERMS OF SERVICE. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS OF SERVICE, PLEASE EXIT THE SITE NOW AND DO NOT USE SERVICES. YOUR REMEDY FOR DISSATISFACTION WITH THIS SITE, OR ANY SERVICES, CONTENT, OR OTHER INFORMATION AVAILABLE ON OR THROUGH THIS SITE, IS TO STOP USING THE SITE AND/OR THOSE PARTICULAR SERVICES. YOUR AGREEMENT WITH US REGARDING COMPLIANCE WITH THESE TERMS OF SERVICE BECOMES EFFECTIVE IMMEDIATELY UPON COMMENCEMENT OF YOUR USE OF THIS SITE.<br /><br />
        These terms of service are effective as of the "Last Modified" date identified at the top of this page. We expressly reserve the right to change these terms of service from time to time at any time with or without notice to you. You acknowledge and agree that it is your responsibility to review this site and these terms of service from time to time and to familiarize yourself with any modifications. Your continued use of any Services after such modifications will constitute acknowledgement of the modified terms of service and agreement to abide and be bound by the modified terms of service. However, for any material modifications to these terms of service or in the event that such modifications materially alter your rights or obligations hereunder, such amended terms of service will automatically be effective upon the earlier of (i) your continued use of any Services with actual knowledge of such modifications, or (ii) 30 days from publication of such modified terms of service on this site. Notwithstanding the foregoing, the resolution of any dispute that arises between you and us will be governed by these terms of service in effect at the time such dispute arose.<br /><br />
        As used in these terms of service, references to our "Affiliates" include our owners, shareholders, subsidiaries, affiliated companies, officers, directors, employees, suppliers, partners, sponsors, and advertisers, and includes (without limitation) all parties involved in creating, producing, and/or delivering this site and/or its contents.<br /><br />
      </p>
      <br />
      <br />
      <h3>Overview of our Services</h3>
      <p>
        To ensure the quality of the MailMate experience, we have set up these terms of service for our mutual benefit. If you violate any of these terms of service, this may result in a termination of your account.<br /><br />
        You may purchase a plan for yourself or any third party. Once plan is purchased and set up under one person’s account, such account is owned by such person and the ownership of such account is non-transferable or non-assignable without the consent of MailMate. Tasks and concierge requests by any such account are also non-transferable and non-assignable without the consent of MailMate and shall be solely made by such account holder.<br /><br />
        All MailMate plans are automatic recurring subscriptions that can be canceled by you at any time (see “Cancellations” below).<br /><br />
        MailMate provides virtual assistance and other services, including the following:<br /><br />
        
        
        <h4>Assistant Service</h4>
        MailMate assistant service plans and pricing for each plan can be found here.<br /><br />
        All MailMate assistant service plans are governed by each plan’s limits, including an hour limit per billing cycle. Even if the hours for one billing cycle are unused prior to the following billing cycle, the unused hours will not carry over to the following billing cycle.<br /><br />

        <h4>Mail Service</h4>
        MailMate mail service plans and pricing for each plan can be found here.<br /><br />
        All MailMate mail service plans are governed by each plan’s limits, including a limit of mail scans per billing cycle. Even if the limit of mail scans for one billing cycle is unused prior to the following billing cycle, the unused number of scans will not carry over to the following billing cycle.<br /><br />
        Notwithstanding the foregoing, MailMate will not accept any of the following items on your behalf:<br /><br />
        
        <ul>
          <li>live animals; </li>
          <li>cash;</li>
          <li>illegal or illicit material / goods; </li>
          <li>dangerous items; </li>
          <li>other items that cannot be handled by the post office or delivery service;</li>
          <li>packages; and</li>
          <li>any other items we deem inappropriate. </li>
        </ul>
        
        <h4>Mail Opening and Scanning</h4>
        
        As a subscriber of MailMate mail service, by clicking “Open it” on our online dashboard for a particular mail (in the envelope or otherwise) addressed to you, you agree to provide the consent for MailMate to open and scan the contents of such mail on your behalf at your request. You also acknowledge that MailMate employees may read the contents of such mail in performing the services. By providing such consent, subject to our confidentiality obligations (see “Ownership and Confidentiality of Work Product” below), you agree not to file a complaint or otherwise pursue any liability against MailMate for opening, scanning or reading the contents of such mail under any applicable law, including but not limited to Act on Correspondence Delivery by Private Business Operators of Japan, as amended.<br /><br />

        <h4>Payment of Bills</h4>
        
        As a subscriber of MailMate mail service, by clicking “Pay Bill” on our online dashboard for a particular bill, you agree to provide power of attorney to MailMate solely with respect to such particular bill and permit MailMate to pay such bill on your behalf at your request.  By providing such power of attorney, subject to our confidentiality obligations (see “Ownership and Confidentiality of Work Product” below), you agree not to file a complaint or otherwise pursue any liability against MailMate for paying such bill under any applicable law, and also acknowledge that, other than the payment of such bill by MailMate pursuant to such bill following the applicable payment by you to MailMate, MailMate has no monetary or any other liability to you or any third party under any applicable law with respect to such bill.<br /><br />
        
        Any agreement or attempted agreement between you and any of MailMate Affiliates, in connection with any Services, requiring that payment be made outside of MailMate, shall constitute a material breach of these terms of service and be subject to termination by MailMate without refund (see “Termination” and “Non-solicitation” below).<br /><br />
      </p>



      <h3>Ownership and Confidentiality of Work Product</h3>
      <p>
        If MailMate creates anything original for you, such as research projects, reports, templates, spreadsheets, forms, etc. (collectively, "Work Product"), you retain the sole ownership of Work Product but grant MailMate a non-exclusive, royalty-free, perpetual, irrevocable, non-transferable license to use Work Product for MailMate’s commercial purposes.<br /><br />
        For the avoidance of doubt, to the extent your confidential information or intellectual property is incorporated into Work Product, such part will be removed or anonymized prior to any use or disclosure of such Work Product by MailMate to a third party.<br /><br />
        For purposes of these terms of service, "confidential information" shall mean information, data or material deemed proprietary by you and which may be marked, or, if orally transmitted, designated as "confidential" by you and not generally known by the public or by parties which are competitive with or otherwise in an industry, trade or business similar to you. Confidential information also includes any information described above which you obtain from another party and which you treat as proprietary or designates in writing as confidential information, whether or not owned or developed by you. Confidential information includes, but is not limited to, the following types of information and other information of a similar nature (whether or not reduced to writing):  designs, drawings, system specifications, documentation, manuals, diagrams, flow charts, consulting methods and techniques, project management methods and techniques, processes, procedures, marketing techniques and materials, marketing and development plans, market analysis, customer names and other information related to customers, price lists, pricing policies and financial information. Confidential Information shall further include data regarding business practices, strategies and position relative to competitors. Confidential information does not include any information, data or material that (1) becomes generally available to the public other than an unauthorized disclosure by MailMate or its Affiliates; (2) was or becomes available to MailMate or its Affiliates on a non-confidential basis prior to your disclosure of the information to MailMate or its Affiliates; (3) is independently developed by MailMate or its Affiliates without using your confidential information; or (4) information MailMate or its Affiliates are required to disclose by a warrant, subpoena or other request in an investigation or legal proceeding or where disclosure is necessary to protect MailMate's or any of its Affiliates’ rights or property, or the rights or property of MailMate’s other clients.] <br /><br />
        For purposes of these terms of service, your intellectual property means patents, trademarks and copyrights owned by you.<br /><br />
      </p>


      <h3>No Guarantee & No Warranty</h3>
      <p>
        In no event, shall MailMate or any of its Affiliates be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the Services, even if MailMate or any of its authorized representatives has been notified orally or in writing of the possibility of such damage. <br /><br />
        MailMate shall use best efforts to provide most accurate and effective information available and to refer you to professionals where we deem appropriate or necessary. Notwithstanding the foregoing, there is no warranty or guarantee by MailMate regarding the legality, accuracy, quality, morality or appropriateness on any of the information, tasks, or projects we complete for you. <br /><br />
      </p>


      <h3>Cancellations</h3>
      <p>
        Your membership can be canceled at any time; provided, however, we will not prorate membership payments or refund due to unused hours or any other services for any billing cycle for any monthly members; provided, further, that if your billing cycle is equal to or exceeding 6 months and you wish to cancel before the half of such billing cycle, your prorated membership payment for only unused months will be refunded (but not a fraction of month). <br /><br />
        All cancellation requests will go into effect at the end of your current billing cycle as long as you email us at support@mailmate.jp or cancel your subscription or change your plan from your MailMate account at least 3 business days prior to the following billing cycle.<br /><br />
      </p>



      <h3>Termination of Service</h3>
      <p>
        We reserve the right to terminate any of the Services to you at any time for any reason. Should this occur, we will give you a prorated refund at the rate for any period for which you have already paid. We may end our relationship with you for any number of reasons including but not limited to the following:<br />
        <ul>
          <li>If the client is constantly requesting tasks outside the scope of his, her or their plan and we're unable to find a solution by scaling back the requests; or</li>
          <li>If the client is Anti-Social Forces (see “Anti-Social Forces” below); or</li>
          <li>If the client is disrespectful or abusive to MailMate or any of its Affiliates.</li>
        </ul>
      </p>



      <h3>Independent Contractors</h3>
      
      <p>
        MailMate may use and retain third party independent contractors to provide assistant, translation or any other Services to you. As such, you agree that MailMate may sublicense its rights under these terms of service to third parties to act on MailMate’s behalf, provided that such third parties are contractually bound by terms no less protective of you than these terms of service. MailMate is solely responsible for paying and resolving all disputes with such third party independent contractors.<br /><br />
      </p>
      
      
      <h3>Non-solicitation</h3>
      
      <p>
        You acknowledge that MailMate has made substantial investments in recruiting, training and matching skilled MailMate assistants (including any part-time employees or independent contractors (see “Independent Contractors” above)) with each of its clients, including you, and that MailMate has a legitimate interest in earning a reasonable return on those investments. You also acknowledge that MailMate has agreements with each of MailMate assistants that protect the foregoing interest by requiring that MailMate assistants obtain MailMate's prior written consent before accepting any direct engagement (whether as an employee, consultant, contractor or otherwise) with any of the MailMate clients to whom they have been assigned. Accordingly, to the fullest extent permitted under applicable law, you agree that during your subscription of Services and for a period of twenty four (24) months following the termination of your relationship with MailMate for any reason, whether due to cancellation or termination, whether voluntary or involuntary, with or without cause, you shall not directly or indirectly solicit any MailMate assistant who was or has been assigned to you at any time during your relationship with MailMate to leave his, her or their employment with MailMate and to work for you or any of your Affiliates in any engagement directly or indirectly. Should any solicitation by you become a factor resulting in a MailMate assistant leaving MailMate and accepting an engagement with you or any of your Affiliates directly or indirectly without MailMate's prior written consent, you agree to pay MailMate as liquidated damages (not as a penalty of any kind) reasonably calculated to compensate MailMate for its lost investments  which is a one-time fee equivalent to at least 75% of the annual salary (including bonus) of such assistant at the time of leaving MailMate.<br /><br />
      </p>
      
      <h3>Data Rights and Protection</h3>
      <p>
        MailMate has the utmost respect for all of our clients’ privacy and protection of private, proprietary and confidential information. In our mission to ethically and lawfully serve our clients, we have and will update the following policies in place in order to comply with all applicable law:<br /><br />
        <h4>Timely Breach Notification:</h4>
        In the event of a data breach, MailMate will notify our associated data controllers and clients within 72 hours. In addition to outlining the nature of the breach, the breadth, and actions involved to remedy the situation will be detailed.<br /><br />
        <h4>Right to Data Access:</h4>
        If at any time a client wishes to access his, her or their existing data profile, MailMate will provide a free electronic copy of the data we collected about that customer within 30 days from such request. This report will also include the various ways the information has been used.<br /><br />
        <h4>Right to Be Forgotten:</h4>
        If at any time a client cancels subscriptions or otherwise discontinue his, her or their relationship with MailMate, the client can request that his, her or their personal data is wholly destroyed or returned from our records and MailMate will process such request within 30 days.<br /><br />
        <h4>Data Portability:</h4>
        This gives users rights to their own data. Clients will be able to obtain their data from MailMate in an electronic report and reuse that same data in different environments outside of ours within 30 days after such request is made.<br /><br />
        <h4>Contact:</h4>
        If you have any questions or inquiries to MailMate about your personal data or any other private, proprietary and confidential information, please contact us at support@mailmate.jp.  <br /><br />
      </p>

      <h3>Modifications </h3>
      <p>
        MailMate may revise these terms of service at any time with or without notice. For example, MailMate may add or discontinue any functionality or features of any Service at any time. MailMate may also start charging or change a fee for any of functionalities or features of any Service at any time with or without notice. By using Services, you are agreeing to be bound by the then current version of these terms of service. <br /><br />
      </p>
      
      
      <h3>Anti-Social Forces</h3>
      <p>
        MailMate shall have no relationship with any Anti-Social Forces or their associates, and will not accept any demands from an Anti-Social Force or their associates.<br /><br />
        
        MailMate shall make no hidden deals with Anti-Social Forces, and shall not fund Anti-Social Forces.<br /><br />
        
        MailMate shall work with external specialist organizations, as appropriate, to defend against demands from Anti-Social Forces.<br /><br />
        
        MailMate shall take civil and criminal legal measures against illegitimate demands, other pressures or approaches from Anti-social Forces and their associates.<br /><br />
        
        You represent and warrant to MailMate that you are neither Anti-Social Forces nor affiliated with Anti-Social Forces in any way.<br /><br />
        
        Anti-Social Forces means a group or individual listed in any of the following:<br />
        
        <ul>
          <li>Any organized crime group (boryokudan) (meaning a group a member of which (including a member of such group's affiliated body) is likely to facilitate violent illegal acts or similar acts in an organized or habitual way; the same applies hereinafter);</li>
          <li>Any organized crime group member (boryokudan-in) (meaning a member of an organized crime group; the same applies hereinafter) and any person for whom less than five (5) years have passed since he/she/they ceased to be an organized crime group member;</li>
          <li>Any quasi-member of an organized crime group (boryokudan jun koseiin) (a person who is not an organized crime group member and who has a relationship with an organized crime group and is likely to perform violent unlawful acts or similar acts using the influence of the organized crime group, or a person who cooperates or is involved in the maintenance or operation of the organized crime group by supplying funds, weapons, or other means to the organized crime group or an organized crime group member; the same applies hereinafter);</li>
          <li>Any corporation related to an organized crime group (boryokudan kankei kigyo) (meaning a corporation where an organized crime group member is substantially involved in its management, a corporation managed by a quasi-member or a former member of an organized crime group which actively cooperates or is involved in the maintenance or operation of an organized crime group by supplying funds to the organized crime group or other means, or a corporation which actively uses an organized crime group and cooperates in the maintenance or operation of the organized crime group in the performance of its business; the same applies hereinafter);</li>
          <li>Any corporate racketeer (sokaiya) or the like (meaning a person such as a corporate racketeer (sokaiya) or a corporate extortionist (kaisha goro) who is likely to perform violent unlawful acts or similar acts in the pursuit of unjust profits against a corporation or other entity, and poses a threat to the safety of civil life; the same applies hereinafter);</li>
          <li>Any group engaging in criminal activities under the pretext of conducting social campaigns, etc. (shakai undo tou hyobo goro) (meaning a person who is likely to conduct violent unlawful acts or similar acts in the pursuit of unjustifiable profits in the disguise of or under the pretext of conducting social campaigns or political activities, and poses a threat to the safety of civil life; the same applies hereinafter);</li>
          <li>Any crime group, etc. specialized in intellectual crimes (tokushu chino hanzai shudan) (meaning a group or individual, other than persons listed under (a) to (f) above, who, backed by the relationship with an organized crime group, uses its force, has a financial connection with the organized crime group and forms the center of a structural fraud; the same applies hereinafter); or</li>
          <li>Any other person similar to any of the foregoing.</li>
        </ul>
        <br />
      </p>


      <h3>Governing Law</h3>
      <p>
        These terms of service are governed by and construed in accordance with the laws of Japan and you irrevocably submit to the exclusive jurisdiction of the district courts in Japan.
      </p>
    </div>
  </div>
</div>
