<div class="newsletter__container">
    <img src="<%=image_url('logo.png')%>" class="newsletter__logoImage" />

    <div class="newsletter__content">
    <p class="newsletter__title">The <span style="font-weight: 900;
    color: #ff9900;">quickest way</span> to sound clever about Japan. <span style="font-weight: 900;
    color: #ff9900;">Immediately helpful</span> and only twice a month.</p>

    <ul class="newsletter__points">
        <li>Obscure trivia</li>
        <li>Data depicted</li>
        <li>Survey summaries</li>
        <li>Key blog excerpts</li>
        <li>3-minute reads</li>
        <li>&lt; 0.2% unsubscribe</li>
    </ul>

    <form class="newsletter__form">
    <!-- <div class="newsletter__message">{successMessage}</Message>
        <div class="newsletter__message__error">
            {errorMessage}
        </div> --!>
       
        <input type="text" placeholder="First Name" class="newsletter__input"/>

        <input type="email" placeholder="Email" class="newsletter__input"/>

        <button class="newsletter__button">Get Japan Insights
        <!-- { mode == 'normal' && 'Get Japan Insights' }
        { mode == 'loading' && 'Loading...' }
        { mode == 'completed' && 'Thank You!' } --!>
        </button>
    </form>
    </div>
</div>